body {
    background-color: black;
    margin: 0px;
    padding: 0px;
    scroll-behavior: smooth;
    ;
    ;
    ;
}

html {
    scroll-behavior: smooth;
}

h3,
p,
h2,
h4 {
    color: white;
    ;
}

/*---------------------------Navigation-----------------------------------*/

.listen-live {position: fixed; left: 10px;top: 8px;background-color: transparent;margin: 0px;}

.listen-live > button {height: 30px;background-color: transparent; border: solid 1px white;border-radius: 50px;color: white;;}

#listen {
    display: none;
}

#listen:target {
    display: block;
}

#Contact {
    display: none;
}

#Contact:target {
    display: block;
}

#AboutUs {
    display: none;
    position: absolute;
    top: 0px;
    width: 100%;
height: 100%;
    left: 0px;
    z-index: 100;
    background-color: black;
}

#AboutUs:target {
    display: block;
    ;
}

.menu-btn {position: fixed; right: 12px;top: -4px;padding: 10px;}

nav {
    background-color: transparent !important;
    position: fixed;
    left: 0px;
    top: 0px;
    width: 100%;
    height: 70px !important;
    z-index: 130;
    box-shadow: none !important;
transition: 0.2s ease;
}

#nav-scroll.active {background-color: black !important;    padding-bottom: 20px;}

.logo-container>img {
    width: 120px;
}

.logo-container {
    margin: auto;
    width: 120px;
    margin-top: 15px;
    ;
}

.card-image>a>img {
    filter: brightness(0.7);
    ;
}

.card-title {
    color: white;
    ;
}

.listen-frame {
    filter: invert(100);
}

.color-space {
    filter: brightness(2);
}

.card-image>a {
    pointer-events: none;
}

/*-------------------------Bottom-Navigation------------------------------*/

.bottom-navigation {
    position: fixed;
    bottom: 0px;
    z-index: 350;
    width: 100%;
    background-color: black;
    height: 53px;
    border-top: solid;
    border-top-width: 1px;
    border-top-color: rgb(39, 39, 39);
}

.bottom-nav-wrapper {
    margin: auto;
    width: 320px;

}

.bottom-nav-wrapper>a button {
    margin-left: 7px;
    background-color: transparent !important;
    border: none;
}


.bottom-nav-wrapper>a>button>img {
    filter: brightness(0.75)
}

.bottom-nav-wrapper>a>button>img:focus {
    filter: brightness(1)
}

.listen-container {


}

/*-------------------------------------------Side Navigation----------------------------*/
#menu {display: none;position: fixed; top: 0px; left: 0px;;z-index: 150;}

#menu:target {display: block;}

.side-navigation {}

.sub-side-container {width: 260px;background-color: black;height: 100vh;float: right;position:fixed;  height:100vh;z-index:150;right: 0px;top: 0px;}

.sub-side-container > img {width: 120px;margin-left: 64px;margin-top: 20px;}

.sub-side-container > ul > li {width:240px;background-color: transparent;padding-left: 10px;padding-top: 10px;padding-bottom: 10px;margin-top: 5px;border-radius: 5px;margin-left: 10px;color: white !important;}

.sub-side-container > ul > li > a {color: white !important;}

.side-active {background-color: #171717 !important;}

.erase {position: fixed; width: 100%; height: 105vh; background-color: black; z-index: 149; filter: blur(10px);opacity: 1;  background: rgba(0, 0, 0, 0.493);
    backdrop-filter: blur(10px);margin-left:-50px;margin-top: -10px;top: 0px;left: 0px;}
/*---------------------------------------------Contact Us---------------------------------------------*/
#contact-us {color: white;;}

.element > h5 {color: white !important;font-size: 20px;}

.element {border-top: solid 1px rgb(59, 59, 59);;}

.info-container {margin: auto; width: 95%;;}

#Contact-Us {margin-bottom: 100px;;}

.dj-item>img {
    width: 100%;
    object-fit: cover;
    border-radius: 10px;
    ;
}

.dj-item>h3 {
    font-size: 30px !important;
}

.dj-container {
    margin: auto;
    width: 93%;
 margin-top: 80px;;
 margin-bottom: 70px;
}

.contact-sect {width: 100%; height: 100vh;margin-top: 100vh;}

/*------------------------------------IMage Viewing------------------------------------*/

.image-viewer > img {position: absolute; width: 100%; height: 100vh;background-color: black;border: none;object-fit: cover;filter: brightness(0.4);top: 0px;}

.text-container {position: absolute; left: 0px; bottom: 100px;z-index: 50;;margin-left: 20px;}

.text-container > h3 {font-weight: 500; margin: 0px; padding: 0px;}

.text-container > p {width: 88vw;}

.text-container > a {font-weight: 500;color: white !important;}

.home-scroll {position: absolute; bottom: 0px; z-index:50;width: 100%; overflow: scroll;white-space: nowrap;padding-top: 10px;padding-bottom: 10px;;}

.home-scroll > a > img {width: 130px;height: 203px; object-fit: cover;display: inline-block;margin-left: 13px;border-radius:10px;}