body {
    background-color: black;
    margin: 0px;
    padding: 0px;
    scroll-behavior: smooth;
    font-family: roboto, sans-serif;
}

html {
    scroll-behavior: smooth;
}

h3,
p,
h2,
h4 {
    color: white;
    ;
}

/*---------------------------Navigation-----------------------------------*/

.listen-live {position: fixed; left: 10px;top: 19px;background-color: transparent;margin: 0px;}

.listen-live > button {height: 30px;background-color: transparent; border: solid 2px white;border-radius: 50px;color: white;;}

#listen {
    display: none;
}

#listen:target {
    display: block;
}

#Contact {
    display: none;
}

#Contact:target {
    display: block;
}

#AboutUs {
    display: none;
    position: absolute;
    top: 0px;
    width: 100%;
height: 100%;
    left: 0px;
    z-index: 100;
    background-color: black;
}

#AboutUs:target {
    display: block;
    ;
}

.menu-btn {position: fixed; right: 12px;top: 12px;padding: 10px;color:white;}

nav {
    background-color: transparent !important;
    position: fixed;
    left: 0px;
    top: 0px;
    width: 100%;
    height: 70px !important;
    z-index: 130;
    box-shadow: none !important;
transition: 0.2s ease;
}

.page-indicator {color: white;font-weight: 500;margin-top: 70px;margin-left: 15px;font-size: 52px;margin-bottom: 20px;}

#nav-scroll.active {background-color: black !important; }

#pg-indicator {transition: 0.2s ease;height:68px ;}

#pg-indicator.scrolled {font-size: 0px;}

.logo-container>img {
    width: 120px;
}

.logo-container {
    margin: auto;
    width: 120px;
    margin-top: 15px;
    ;
}

.card-image>a>img {
    filter: brightness(0.7);
    ;
}

.card-title {
    color: white;
    ;
}

.listen-frame {
    filter: invert(100);
}

.color-space {
    filter: brightness(2);
}

.card-image>a {
    pointer-events: none;
}

/*-------------------------Bottom-Navigation------------------------------*/

.bottom-navigation {
    position: fixed;
    bottom: 0px;
    z-index: 350;
    width: 100%;
    background-color: black;
    height: 53px;
    border-top: solid;
    border-top-width: 1px;
    border-top-color: rgb(39, 39, 39);
}

.bottom-nav-wrapper {
    margin: auto;
    width: 320px;

}

.bottom-nav-wrapper>a button {
    margin-left: 7px;
    background-color: transparent !important;
    border: none;
}


.bottom-nav-wrapper>a>button>img {
    filter: brightness(0.75)
}

.bottom-nav-wrapper>a>button>img:focus {
    filter: brightness(1)
}

.listen-container {


}
/*------------------------------------------Loader--------------------------------------*/

.mini-loader {margin: auto; width: 150px;margin-top: 30vh;filter: grayscale(100);}

.mini-loader > img {width: 100%;filter: contrast(80);}

/*-------------------------------------------Side Navigation----------------------------*/
#menu {display: none;position: fixed; top: 0px; left: 0px;;z-index: 150;}

#menu:target {display: block;}

.side-navigation {}

.sub-side-container {width: 260px;background-color: black;height: 100vh;float: right;position:fixed;  height:100vh;z-index:150;right: 0px;top: 0px;}

.sub-side-container > img {width: 120px;margin-left: 64px;margin-top: 20px;}

.sub-side-container > ul > li {width:230px;background-color: transparent;padding-left: 10px;padding-top: 10px;padding-bottom: 10px;margin-top: 5px;border-radius: 5px;margin-left: 10px;color: white !important;text-decoration: none;list-style-type: none;}

.sub-side-container > ul > li > a {color: white !important;text-decoration: none;;}

ul {padding-left: 0px;}

.side-active {background-color: #171717 !important;}

.erase {position: fixed; width: 100%; height: 105vh; background-color: black; z-index: 149; filter: blur(10px);opacity: 1;  background: rgba(0, 0, 0, 0.493);
    backdrop-filter: blur(10px);margin-left:-50px;margin-top: -10px;top: 0px;left: 0px;}
/*---------------------------------------------Contact Us---------------------------------------------*/
#contact-us {color: white;;}


#Contact-Us {margin-bottom: 100px;;}

.dj-item>img {
    width: 100%;
    object-fit: cover;
    border-radius: 10px;
    ;
}

.dj-item>h3 {
    font-size: 30px !important;
}

.dj-container {
    margin: auto;
    width: 93%;
 margin-top: 80px;;
 margin-bottom: 70px;
}

.contact-sect {}

.element > h5 {font-size: 17px;font-weight: normal;padding:0px;margin: 0px; color: white;}

.element > p {font-size: 14px;margin-top: 0px;padding: 0px;color: lightgray;}

.element {margin-left: 20px;margin-top: 30px;}

.info-container > a {text-decoration: none;;}

/*------------------------------------IMage Viewing------------------------------------*/

.image-viewer > a > img {position: absolute; width: 100%; height: 100vh;background-color: black;border: none;object-fit: cover;filter: brightness(0.4);top: 0px;}

.image-viewer > a {pointer-events: none;}

.text-container {position: absolute; left: 0px; bottom: 100px;z-index: 50;;margin-left: 20px;}

.text-container > h3 {font-weight: 500; margin: 0px; padding: 0px;font-size: 30px;}

.text-container > p {width: 88vw;font-weight: normal;}

.text-container > a {font-weight: 500;color: white !important;}

.home-scroll {position: absolute; bottom: 0px; z-index:50;width: 100%; overflow: scroll;white-space: nowrap;padding-top: 10px;padding-bottom: 10px;;}

.home-scroll > a > img {width: 130px;height: 203px; object-fit: cover;display: inline-block;margin-left: 13px;border-radius:10px;}

.exc {position: static;;margin-bottom: 25px;padding-top: 15px;;}

/*--------------------------------------Content-card-------------------------------------*/
.content-card {;}

.content-card > a > img {width: 100%;;pointer-events: none;}

/*------------------------------------People Containe-------------------------------------*/

.person {width: 49%;display: inline-block;margin-left: 1px;margin-bottom: 10px;}

.person > a > img {width: 100%;height: 250px;border-radius: 5px;object-fit: cover;}


.person > h3 {font-size: 15px;font-weight: 500;margin-bottom: 0px;margin-left: 10px;margin-top: 8px;}

.person > p {margin-top: 5px;color: rgb(160, 160, 160);margin-left: 10px;}

.person > a {width: 100%; text-align: center;pointer-events: none;}

.people-container {margin-top: 30px;margin: auto; width: 95%;}

.link-container {margin: auto; width: 90px;margin-top: -5px;;}

.link-container > a {color: white; font-weight: bold;;text-decoration: underline;padding: 10px; background-color: transparent;width: 100%;padding-left: 20px;padding-right: 20px;}

/*----------------------------------------Form----------------------------------------*/

.form-container {margin: auto; width: 90%;margin-top: 50px;}

form > input {width: 97%;height: 40px;border: solid 2px white;background-color: black;
border-radius: 6px;padding-left: 7px;margin-top: 12px;}

form > input:first-of-type {margin-top: 20px;}

form > textarea {width: 97%;height: 60px;border: solid 2px white;background-color: black;
    border-radius: 6px;padding-left: 7px;margin-top: 12px;padding-top: 10px;color:white;}

form > select {width: 60%; height: 40px;background-color: black; color: white; border: solid;border-radius: 6px;
margin-top: 12px;}

form > label {color: white;font-size: 20px;}

.form-button-container {margin: auto; width: 50px;margin-top: 20px;margin-bottom: 50px;}

.form-button-container > button {background-color:transparent; color: white;font-size: 16px;border: none;;}

/*---------------------------------------Listen Live---------------------------------*/

.sub-btn {float: left;}

.audio-container {margin:auto; margin-top: 20vh;width: 290px;padding-bottom: 20vh;}

.sub-btn > button {color: black;width: 70px; height: 70px;}

.sub-btn > button > i {font-size: 35px;}

.audio-text-container {float: left;width:200px;color: white;margin-left: 10px;}

.audio-text-container > h1 {font-weight: bold;margin-bottom: 0px;margin-top: 7px;}

.audio-text-container > p {font-size: 15px;margin-top: 10px;}

.live-feed {margin-top: 50px;background-color: black;}

.background-video {position: fixed; top: 0px ;z-index: -1;opacity: 0.3;}

.background-video > video {width: 100%;z-index: -1;object-fit: cover;height: 60vh;}

.pad-re:first-of-type {padding-top: 0px;margin-top: 0px;}
